.auth-bg {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('./assets/images/auth-bg.jpeg');
  background-size: cover;
  height: calc(100vh - 72px);
  width: 100vw;
  position: absolute;
  top: 72px;
  left: 0;
}